main{
    flex: 1;
}

main ul{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    list-style:none;
    width: 400px;
}

@media (max-width: 650px){
    main ul {
        grid-template-columns: 1fr;
        width: 100%;
}
}

li.project-item{
    background: #ffffff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 20px;
    width: 100%;
}

li.project-item header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

li.project-item header img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

li.project-item header .user-info{
    margin-left: 10px;
}

.user-info strong{
    display: block;
    font-size: 16px;
    color: #333;
}

.user-info span{
    font-size: 13px;
    color: #333;
    margin-top: 2p;
}

li.project-item p{
    color: #666;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
}

li.project-item a{
    color: #8e4dff;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
    float: right;
    text-decoration: none;
}

li.project-item a:hover{
    color: #5a2ea6;    
    cursor: pointer;
    
}

